body {
  font-family: system-ui;
  background: #f06d06;
  color: purple;
  text-align: center;
}
h2 {
  color: green;
}
p {
  color: black;
}
ul {
  color: black;
}
img {
  width: 10%;
  height: auto;
}
div {
  display: flex;
  justify-content: center;
}